<h1 class="text-center text-6xl m-40">Add Patient Form</h1>
<div class="
            justify-center 
            items-center 
            w-full 
            max-w-lg 
            bg-blue-200">

  <%= form_with model: patient do |form| %>


  <div class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
    Patient Name: 
    <%= form.text_field :name %>
    <% patient.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    Date of Consultation
    <%= form.text_area :date %>
    <% patient.errors.full_messages_for(:date).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    Right Eye (OD)

    <%= form.text_area :od %>
    <% patient.errors.full_messages_for(:od).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    Left Eye (OS)

    <%= form.text_area :os %>
    <% patient.errors.full_messages_for(:os).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    Add

    <%= form.text_area :add %>
  </div>

  <div>
    Assessment

    <%= form.text_area :assessment %>
  </div>

  <button>
    <%= form.submit %>
  </button>
</div>
<% end %>
<%= link_to "Home", root_path(@patient)%>