<h1>Patient Name: <%= @patient.name %> </h1>

<p>Date of consulation: <%= @patient.date %></p>

<table>
	<tr>
		<th>OD</th>
		<th>OS</th>
		<th>Add</th>
		<th>Assessment</th>

	</tr>
	<tr>
	    <td><%= @patient.os %></td>
	    <td><%= @patient.od %></td>
	    <td><%= @patient.add %></td>
	    <td><%= @patient.assessment %></td>
		
	  </tr>
</table>
<br>
<%= link_to "Edit", edit_patient_path(@patient) %>
<%= link_to "Delete", patient_path(@patient), method: :delete %> 
<br><br>
<%= link_to "Home", root_path(@patient)%>